html {
}

body {
  -webkit-font-smoothing: antialiased;
  position: relative;
  opacity: 0;

  &.body--fixed {

    &:before {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(#000, .5);
    }
  }
}
