h1,
.h1 {
  font-size: 70px;
  line-height: 1.26;
  font-weight: 900;

  @include media-breakpoint-down(lgx) {
    font-size: 45px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 35px;
  }
}

h2,
.h2 {
  font-size: 50px;
  line-height: 1.26;
  font-weight: 900;

  @include media-breakpoint-down(lgx) {
    font-size: 40px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 30px;
  }

  @include media-breakpoint-down(md) {
    font-size: 25px;
  }
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.26;
  font-weight: 900;

  @include media-breakpoint-down(lgx) {
    font-size: 22px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
}

h4 {
}

h5 {
}

h6 {
}

p {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;

  @include media-breakpoint-down(lgx) {
    font-size: 16px;
  }

  &.p--sm {
    font-size: 16px;
  }
}

.font-weight-medium {
  font-weight: 500;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
}
