.reason {
  position: relative;
  //  margin-bottom: 60px;
  //  padding: 180px 185px;
  padding: 100px 204px 110px;
  background: url(../img/reason.jpg) no-repeat center;
  background-size: cover;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(#000, .5);

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  @include media-breakpoint-down(lgx) {
    padding: 60px 150px;
  }

  @include media-breakpoint-down(lg) {
    //    padding: 100px;
  }

  @include media-breakpoint-down(md) {
    //    padding: 100px 15px;
    padding: 130px 15px 60px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
    display: flex;
    max-width: 820px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      padding-bottom: 40px;
    }
  }

  &__dscr {
    max-width: 620px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }
}
