mixin reason(data)
  .reason&attributes(attributes)
    .reason__content
      .reason__content-top
        .h1.text-white.mb-20.mb-md-40 Универсиада в России – от Москвы до Екатеринбурга
        p.text-white.reason__dscr Всемирные университетские игры. Всемирные игры студентов. Производное от "Университет" и "Олимпиада". Все это – Универсиада. Комплексные соревнования, проводимые Международной федерацией университетского спорта (International University Sports Federation, сокращенно - FISU).
      a.btn.btn-primary.mt-20.mt-md-30.mt-lg-60(href="#article", data-fancybox) Подробнее
