mixin about(data)
  .about#about&attributes(attributes)
    .about__item.about__item--left
      .about__content.about__content--red
        .about__content-wrapper
          h2.mb-20.mb-lgx-40 ЕКАТЕРИНБУРГ-<br>СОВРЕМЕННЫЙ ГОРОД
          h3.font-weight-bold.mb-15 1,5 млн. населения
          h3.font-weight-bold.mb-15 200 000 студентов
      .about__picture-wrapper
        img.about__picture(src="img/about-1.png", alt)
    .about__item.about__item--right
      .about__content.about__content--blue
        .about__content-wrapper
          h2.mb-20.mb-lgx-40 ЕКАТЕРИНБУРГ-<br>ГОРОД СПОРТА
          h3.font-weight-bold.mb-15 1773 спортивных объектов
          h3.font-weight-bold.mb-15 39 спортивных школ
      .about__picture-wrapper
        img.about__picture(src="img/about-2.png", alt)
        
