.about {
  margin-right: 25px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include media-breakpoint-down(md) {
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__item {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }

    & + & {

      @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
      }
    }

    &--left {
    }

    &--right {
      flex-direction: row-reverse;

      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
      }
    }
  }

  &__content {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      width: 100%;
    }

    &--red {

      h2 {
        color: #e94754;
      }

      .about__content-wrapper:before {
        position: absolute;
        top: -89px;
        left: -89px;
        display: block;
        width: 89px;
        height: 89px;
        content: '';
        background: url(../img/angle-blue.svg) no-repeat;
        background-size: contain;

        @include media-breakpoint-down(lg) {
          top: -50px;
          left: -50px;
          width: 50px;
          height: 50px;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    &--blue {

      h2 {
        color: #0078bf;
      }

      .about__content-wrapper:before {
        position: absolute;
        top: -40px;
        right: -100px;
        display: block;
        width: 68px;
        height: 68px;
        content: '';
        background: url(../img/angle-red.svg) no-repeat;
        background-size: contain;

        @include media-breakpoint-down(lgx) {
          right: -80px;
        }

        @include media-breakpoint-down(lg) {
          top: -20px;
          right: -40px;
          width: 40px;
          height: 40px;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }

  &__content-wrapper {
    position: relative;
    max-width: 70%;

    @include media-breakpoint-down(lgx) {
      max-width: 55%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: none;
    }

    h3 {

      @include media-breakpoint-down(lgx) {
        font-size: 20px;
      }

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }

  &__picture-wrapper {
    width: 50%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__picture {
    display: block;
    max-width: 100%;
    border-radius: 265px 0;

    @include media-breakpoint-down(lg) {
      border-radius: 40% 0;
    }
  }
}
