.news {
  margin: 0 25px 50px;
  padding: 25px 30px;
  display: block;
  width: calc(25% - 50px);
  min-height: 222px;
  border: 1px solid #fff;
  border-radius: 10px;

  @include transition;

  @include media-breakpoint-down(sm) {
    min-height: 300px;
  }

  &:hover {
    background: #fff;

    .news__date {
      color: $secondary;
    }
  }

  @include media-breakpoint-down(lgx) {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 15px;
    width: calc(25% - 20px);
  }

  @include media-breakpoint-down(lg) {
    width: calc(33.33% - 20px);
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &__date {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;

    @include transition;
  }

  &__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #000;

    @include transition;

    @include media-breakpoint-down(lgx) {
      font-size: 16px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  &--more {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {

      .news__title {
        color: #333;
      }
    }

    .news__date {
      display: none;
    }

    .news__title {
      text-align: center;
      color: #fff;
    }
  }
}
