/* Bootstrap */

.btn {
  font-size: 20px;
  font-weight: 700;
  border-radius: 170px;

  &.btn-primary {
    padding: 9px 33px;
    color: #fff;
    background: $primary;

    @include media-breakpoint-down(lg) {
      padding: 5px 15px;
      font-size: 16px;
    }

    @include transition;

    &:hover {
      background: darken($primary, 10%);
    }
  }
}

/* Fancybox */

.fancybox-slide {
  padding: 0;
}

/* Fullpage */

//#fp-nav {
//  right: 0 !important;
//
//  li {
//    margin: 0 !important;
//    display: flex !important;
//    width: auto !important;
//    height: auto !important;
//    justify-content: flex-end;
//
//    & + li {
//      margin-top: 24px !important;
//    }
//
//    a {
//      margin-right: 0 !important;
//      margin-left: 0;
//      //      position: absolute!important;
//      //      top: 0;
//      display: block;
//      width: 30px !important;
//      //      left: 0;
//      height: 22px !important;
//      font-size: 15px;
//      line-height: 19px;
//      font-weight: 700 !important;
//      color: #e0e0e0;
//      border-bottom: 1px solid #e0e0e0;
//
//      @include transition;
//
//      span {
//        display: none;
//      }
//
//      &:hover,
//      &.active {
//        color: $secondary;
//        border-color: $secondary;
//      }
//
//      &.active {
//        width: 60px !important;
//        font-size: 20px !important;
//      }
//    }
//
//    &:nth-child(1) {
//
//      a {
//
//        &:before {
//          content: '1';
//        }
//      }
//    }
//
//    &:nth-child(2) {
//
//      a {
//
//        &:before {
//          content: '2';
//        }
//      }
//    }
//
//    &:nth-child(3) {
//
//      a {
//
//        &:before {
//          content: '3';
//        }
//      }
//    }
//
//    &:nth-child(4) {
//
//      a {
//
//        &:before {
//          content: '4';
//        }
//      }
//    }
//
//    &:nth-child(5) {
//
//      a {
//
//        &:before {
//          content: '5';
//        }
//      }
//    }
//  }
//}

/* Custom Scrollbar */

.mCSB_container {
  display: flex;
}

.mCSB_scrollTools {
  opacity: 1;
}

.mCSB_draggerRail {
  background: #acacac !important;
}

.mCSB_dragger_bar {
  background: $secondary !important;
}

.mCustomScrollBox {
  height: auto !important;
}
