.timeline {
  padding: 80px 0;
  padding-left: 50px;

  @include media-breakpoint-down(md) {
    margin-right: 0;
    padding: 40px 15px;
  }

  &__header {
    margin-right: 25px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }

  &__completed {
    text-transform: uppercase;

    a {
      text-decoration: underline;
      color: $secondary;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__subheader {
    font-size: 30px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #333;

    @include media-breakpoint-down(lgx) {
      font-size: 22px;
    }
  }

  &__slider {
    margin-right: 125px;
    min-height: 380px;

    @include media-breakpoint-down(lg) {
      height: auto;
    }

    @include media-breakpoint-down(md) {
      margin-right: 80px;
    }

    @include media-breakpoint-down(md) {
      margin-right: 50px;
    }

    &:before {
      position: absolute;
      top: 183px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      content: '';
      background: #41a64d;
    }
  }

  .slick-arrow {
    position: absolute;
    width: 13px;
    height: 26px;
    font-size: 0;
    background: url(../img/arrow-right.svg) no-repeat;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }

    &.slick-disabled {
      display: none !important;
    }

    &.slick-prev {
      z-index: 1;
      top: 170px;
      left: -50px;
      transform: rotate(180deg);
    }

    &.slick-next {
      top: 170px;
      right: -90px;

      @include media-breakpoint-down(lgx) {
        right: -60px;
      }

      @include media-breakpoint-down(md) {
        right: -40px;
      }
    }
  }
}
