mixin timeline(data)
  .timeline&attributes(attributes)
    .timeline__header
      .h1.text-secondary 28 объектов инфраструктуры
      h3.timeline__completed
        a(href="#") 20 объектов готовы
    h3.timeline__subheader План строительства еще 8 объектов
    .timeline__slider
      +object({
        year: '2021',
        title: 'Арена Самбо'
      })
      +object({
        year: '2021',
        title: 'Футбольный спортивный центр'
      })
      +object({
        year: '2022',
        title: 'Ледовый многофункциональный центр'
      })
      +object({
        year: '2022',
        title: 'Волейбольная академия'
      })
      +object({
        year: '2022',
        title: 'Теннисный центр'
      })
      +object({
        year: '2022',
        title: 'Центр дзюдо'
      })
      +object({
        year: '2021',
        title: 'Арена Самбо'
      })
      +object({
        year: '2021',
        title: 'Футбольный спортивный центр'
      })
      +object({
        year: '2022',
        title: 'Ледовый многофункциональный центр'
      })
