
include ../blocks/front/front.pug
include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/socials/socials.pug
include ../blocks/logo/logo.pug
include ../blocks/language/language.pug
include ../blocks/about/about.pug
include ../blocks/news/news.pug
include ../blocks/news-list/news-list.pug
include ../blocks/timeline/timeline.pug
include ../blocks/footer/footer.pug
include ../blocks/subscribe/subscribe.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/article/article.pug
include ../blocks/share/share.pug
include ../blocks/reason/reason.pug
include ../blocks/object/object.pug
include ../blocks/aside/aside.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/section/section.pug
include ../blocks/animation/animation.pug
include ../blocks/cards-list/cards-list.pug
include ../blocks/card/card.pug
include ../blocks/concept/concept.pug
include ../blocks/discipline/discipline.pug
include ../blocks/instagram/instagram.pug