.input {
  padding-left: 18px;
  height: 50px;

  font-size: 16px;
  line-height: 1.5;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 0;

  @include placeholder(#828282);

  &:focus {
    background: transparent;
    border-color: #d2d2d2;
    outline: none;
    box-shadow: none;
  }
}
