mixin concept(data)
  .concept&attributes(attributes)
    .h1.text-secondary.mb-35.concept__header GENERAL CONCEPT
    .concept__section
      h2.concept__section-header 15 sports of the main program
      .concept__sports
        +discipline({
          icon: 'discipline-1.svg',
          title: 'Badminton'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-2.svg',
          title: 'Basketball'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-3.svg',
          title: 'Water Polo'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-4.svg',
          title: 'Volleyball'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-5.svg',
          title: 'Judo'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-6.svg',
          title: 'Athletics'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-7.svg',
          title: 'Table Tennis'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-8.svg',
          title: 'Swimming'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-9.svg',
          title: 'Diving'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-10.svg',
          title: 'Artistic Gymnastics'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-11.svg',
          title: 'Arcehry'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-12.svg',
          title: 'Tennis'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-13.svg',
          title: 'Teakwondo'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-14.svg',
          title: 'Fencing'
        }).concept__sports-item
        +discipline({
          icon: 'discipline-15.svg',
          title: 'Rhytmic Gymnastics'
        }).concept__sports-item
    .concept__section
      h2.concept__section-header 3 additional sports
      .concept__additional
        .concept__additional-sports
          +discipline({
            icon: 'discipline-16.svg',
            title: 'Sambo'
          }).discipline--additional.concept__additional-item
          +discipline({
            icon: 'discipline-17.svg',
            title: 'Boxing'
          }).discipline--additional.concept__additional-item
          +discipline({
            icon: 'discipline-18.svg',
            title: 'Rugby Sevens'
          }).discipline--additional.concept__additional-item
        .concept__additional-dscr
          h3 Russian athletes compete at the top level in these sports and there are high hopes for the medals. All three sports are popular and will attract large crowds at the stands.
    .concept__section
      h2.concept__section-header Preparation timeline
      .concept__timeline-header
        .concept__timeline-graph
          .concept__timeline-graph-illustration
          .concept__timeline-graph-number 22 of 
            span 31
        h3.font-weight-normal.mb-0.concept__timeline-graph-dscr Universiade infrastructure facilities are ready, the timeline  for remaining 9 is below:
      .concept__timeline-content
        .concept__timeline-line.concept__timeline-line--design 
          span Проектирование необходимых инфраструктурных объектов
        .concept__timeline-line.concept__timeline-line--construction 
          span Строительство необходимых инфраструктурных объектов
      .concept__timeline-items-wrapper
        .concept__timeline-item.concept__timeline-item--green
          .h1.concept__timeline-item-header 2019
        .concept__timeline-item.concept__timeline-item--yellow
          .h1.concept__timeline-item-header 2020
          .concept__timeline-item-content
            .concept__timeline-item-discipline Арена Самбо
            .concept__timeline-item-discipline Волейбольная академия
        .concept__timeline-item.concept__timeline-item--blue
          .h1.concept__timeline-item-header 2021
          .concept__timeline-item-content
            .concept__timeline-item-discipline Футбольный спортивный центр
        .concept__timeline-item.concept__timeline-item--red
          .h1.concept__timeline-item-header 2022
          .concept__timeline-item-content
            .concept__timeline-item-discipline Ледовый многофункциональный центр
            .concept__timeline-item-discipline Теннисный центр
            .concept__timeline-item-discipline Центр дзюдо
            .concept__timeline-item-discipline Центр художественной гимнастики
        .concept__timeline-item.concept__timeline-item--green
          .h1.concept__timeline-item-header 2023
          .concept__timeline-item-content
            .concept__timeline-item-discipline Тестовые соревнования
            .concept__timeline-item-discipline Дворец водных видов спорта
    .concept__section
      h2.concept__section-header universiade 2023 key dates
      .concept__dates-wrapper
        .concept__date
          .concept__date-header.concept__date-header--green 8
            span.concept__date-header-month August
          .concept__date-content Opening <br>Ceremony
        .concept__date
          .concept__date-header.concept__date-header--blue 7-19
            span.concept__date-header-month August
          .concept__date-content Competition <br>program
        .concept__date
          .concept__date-header.concept__date-header--red 19
            span.concept__date-header-month August
          .concept__date-content Closing <br>Ceremony
