.concept {
  padding: 0 50px 150px;

  @include media-breakpoint-down(md) {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
  }

  &__section {
  }

  &__section-header {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #333;

    @include media-breakpoint-down(lgx) {
      font-size: 30px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 25px;
    }
  }

  &__sports {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__sports-item {
    margin-bottom: 30px;
    max-width: 12.5%;
    flex-basis: 12.5%;

    //    @include media-breakpoint-down(lgx) {
    //      max-width: 16.66%;
    //      flex-basis: 16.66%;
    //    }

    @include media-breakpoint-down(lgx) {
      max-width: 12.5%;
      flex-basis: 12.5%;
    }

    @include media-breakpoint-down(lg) {
      max-width: 20%;
      flex-basis: 20%;
    }

    @include media-breakpoint-down(sm) {
      max-width: 50%;
      flex-basis: 50%;
    }
  }

  &__additional {
    margin-bottom: 75px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__additional-sports {
    display: flex;
    width: 50%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__additional-item {
    width: 33.33%;
    flex-basis: 33.33%;
  }

  &__additional-dscr {
    padding-left: 10%;
    width: 50%;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
      padding-left: 0;
      width: 100%;
    }
  }

  &__timeline-header {
    margin-bottom: 120px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
      flex-direction: column;
    }
  }

  &__timeline-graph {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__timeline-graph-illustration {
    width: 158px;
    height: 158px;
    flex-shrink: 0;
    background: url(../img/concept-graph.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      width: 120px;
      height: 120px;
    }
  }

  &__timeline-graph-number {
    margin: 0 70px;
    font-size: 90px;
    line-height: 1.5;
    font-weight: 900;
    white-space: nowrap;
    color: #333;

    @include media-breakpoint-down(lgx) {
      font-size: 70px;
    }

    @include media-breakpoint-down(lg) {
      margin: 0 40px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 50px;
    }

    span {
      color: #e31b32;
    }
  }

  &__timeline-graph-dscr {
    max-width: 640px;
  }

  &__timeline-line {
    position: relative;
    height: 1px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #1a171b;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      display: block;
      width: 24px;
      height: 24px;
      content: '';
      border-radius: 50%;
      transform: translateY(-50%);
    }

    &:before {
      left: -12px;
    }

    &:after {
      right: -12px;
    }

    span {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      //      left: 50%;
      //      transform: translateX(-50%);
    }

    &--design {
      margin-bottom: 60px;
      width: 40%;
      background: linear-gradient(to right, #45a348, #fabb1b);

      &:before {
        background: #41a64d;
      }

      &:after {
        background: #f3ba20;
      }
    }

    &--construction {
      margin-left: auto;
      width: 80%;
      background: linear-gradient(
        to right,
        #4ba447 0%,
        #0079bb 33.33%,
        #e31b32 66.66%,
        #000000 100%
      );

      &:before {
        background: #f3ba20;
      }

      &:after {
        background: #41a64d;
      }
    }
  }

  &__timeline-items-wrapper {
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      flex-wrap: wrap;
    }
  }

  &__timeline-item {
    width: 20%;
    flex-basis: 20%;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      width: 50%;
      flex-basis: 50%;
    }

    &--green {
      color: #41a64d;
    }

    &--yellow {
      color: #f3ba20;
    }

    &--blue {
      color: #0079bb;
    }

    &--red {
      color: #e31b32;
    }
  }

  &__timeline-item-header {
    margin-bottom: 10px;
  }

  &__timeline-item-content {
    max-width: 80%;

    @include media-breakpoint-down(sm) {
      padding-right: 5px;
      max-width: 100%;
    }
  }

  &__timeline-item-discipline {
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 700;

    @include media-breakpoint-down(lgx) {
      font-size: 17px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }

    @include media-breakpoint-down(md) {
      font-size: 12px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 15px;
    }
  }

  &__dates-wrapper {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__date {
    display: flex;
    width: 33.33%;
    align-items: flex-end;
    flex-basis: 33.33%;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
      width: 100%;
      flex-basis: 100%;
    }
  }

  &__date-header {
    margin-right: 55px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 70px;
    line-height: 1;
    font-weight: 900;

    @include media-breakpoint-down(lgx) {
      margin-right: 30px;
      font-size: 50px;
    }

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 20px;
      align-items: center;
    }

    &--green {
      color: #41a64d;
    }

    &--blue {
      color: #0079bb;
    }

    &--red {
      color: #e31b32;
    }
  }

  &__date-header-month {
    font-size: 40px;
  }

  &__date-content {
    font-size: 30px;
    color: #333;

    @include media-breakpoint-down(lgx) {
      font-size: 20px;
    }

    br {

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
