.discipline {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  &__icon-wrapper {
    margin-bottom: 5px;
    display: flex;
    width: 130px;
    height: 109px;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(lgx) {
      margin-bottom: 5px;
      width: 50px;
      height: 50px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }
  }

  &__icon {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    color: $secondary;

    @include media-breakpoint-down(sm) {
      font-size: 22px;
    }
  }

  &--additional {

    .discipline__icon-wrapper {
      margin-bottom: 28px;
      width: 143px;
      height: 143px;

      @include media-breakpoint-down(lgx) {
        width: 70px;
        height: 70px;
      }

      @include media-breakpoint-down(lg) {
        width: 50px;
        height: 50px;
      }
    }

    .discipline__title {
      color: #333;
    }
  }
}
