mixin instagram(data)
  .instagram&attributes(attributes)
    .instagram__header
      .h1.instagram__title INSTAGRAM
      a.h3.instagram__link(href="#") @Ekat2023olimpic
    .instagram__content
      a.instagram__item(href="./img/instagram-1.jpg", data-fancybox style="background-image: url(./img/instagram-1.jpg)")
      a.instagram__item(href="./img/instagram-2.jpg", data-fancybox style="background-image: url(./img/instagram-2.jpg)")
      a.instagram__item(href="./img/instagram-3.jpg", data-fancybox style="background-image: url(./img/instagram-3.jpg)")
      a.instagram__item(href="./img/instagram-4.jpg", data-fancybox style="background-image: url(./img/instagram-4.jpg)")
      a.instagram__item(href="./img/instagram-5.jpg", data-fancybox style="background-image: url(./img/instagram-5.jpg)")
      a.instagram__item(href="./img/instagram-6.jpg", data-fancybox style="background-image: url(./img/instagram-6.jpg)")
      a.instagram__item(href="./img/instagram-1.jpg", data-fancybox style="background-image: url(./img/instagram-1.jpg)")
      a.instagram__item(href="./img/instagram-2.jpg", data-fancybox style="background-image: url(./img/instagram-2.jpg)")
      a.instagram__item(href="./img/instagram-3.jpg", data-fancybox style="background-image: url(./img/instagram-3.jpg)")
      a.instagram__item(href="./img/instagram-4.jpg", data-fancybox style="background-image: url(./img/instagram-4.jpg)")
      a.instagram__item(href="./img/instagram-5.jpg", data-fancybox style="background-image: url(./img/instagram-5.jpg)")
      a.instagram__item(href="./img/instagram-6.jpg", data-fancybox style="background-image: url(./img/instagram-6.jpg)")
