.instagram {
  padding: 80px 50px 120px;

  @include media-breakpoint-down(md) {
    padding: 40px 15px;
  }

  &__header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    color: $secondary;
  }

  &__link {
    text-decoration: underline;
    text-transform: uppercase;
    color: $secondary;

    @include transition;
  }

  &__content {
    display: flex;
  }

  &__item {
    position: relative;
    //    width: 265px;
    //    height: 265px;
    display: block;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      content: '';
      background: rgba(0, 0, 0, .2);

      @include transition;
    }

    &:hover {
      color: $primary;

      &:before {
        opacity: 1;
      }
    }
  }
}
