mixin subscribe(data)
  .subscribe&attributes(attributes)
    if data && data.title
      h3.text-white.mb-5.text-uppercase.mb-15 Подпишитесь на рассылку
    else
      p.p--sm Хотите быть в курсе всех новостей? <br>Подпишитесь на рассылку
    form.form(action="#", method="POST")
      input.input.form-control(type="email", placeholder="Ваш e-mail")
      button.btn.btn-primary.mt-20.mt-lg-35(type="submit") Подписаться
