.cards-list {
  padding: 70px 50px 135px;

  @include media-breakpoint-down(md) {
    padding: 40px 15px;
  }

  &__wrapper {
    margin: 0 -25px;
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(lgx) {
      margin: 0 -10px;
    }

    @include media-breakpoint-down(xs) {
      margin: 0;
    }
  }

  &__item {
    margin: 0 25px;
    width: 100%;
    max-width: calc(25% - 50px);

    @include media-breakpoint-down(lgx) {
      margin: 0 10px;
      max-width: calc(25% - 20px);
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
      max-width: calc(50% - 20px);
    }

    @include media-breakpoint-down(xs) {
      margin: 0 0 20px;
      max-width: 100%;
    }
  }
}
