mixin cards-list(data)
  .cards-list&attributes(attributes)
    .h1.cards-list__header.text-secondary.mb-30.mb-lg-50 Материалы
    .cards-list__wrapper
      +card({
        img: 'card-1.jpg',
        title: 'FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году'
      }).cards-list__item
      +card({
        img: 'card-2.jpg',
        title: 'Министр спорта назвал сильной заявку Екатеринбурга на проведение Универсиады-2023'
      }).cards-list__item
      +card({
        img: 'card-3.jpg',
        title: 'Владимир Путин поздравил Екатеринбург с получением права проведения Универсиады в 2023 году'
      }).cards-list__item
      +card({
        img: 'card-4.jpg',
        title: 'Президент FISU отметил высокий уровень досье Екатеринбурга на Универсиаду-2023'
      }).cards-list__item
