mixin article(data)
  .article#article&attributes(attributes)
    .article__wrapper
      a.article__back(href="#")
      .container-fluid
        .row
          .col-lg-12.col-lgx-8.offset-lg-2
            .article__header
              .article__header-left
                span.article__date 14.08.2020
                span.article__author Всеволод Марксински
              +share
            .article__content
              .h2.text-secondary Почему мы делаем лучшие универсиады в мире
              img.article__img(src="./img/article-1.jpg", alt)
              p Первые официальные студенческие спортивные кружки возникли в России в 1907 году, когда были введены так называемые Правила о студентах. Эти правила регламентировали создание в ВУЗах кружков разной направленности, в том числе спортивных. В 1910 году была создана Всероссийская лига студенческого спорта, а в 1915 году спортивные секции существовали в сорока ВУЗах России. 
              p После революции физкультура и спорт стали для СССР делом государственной важности. Кружки, секции и спортшколы возникли повсюду. В каждом ВУЗе был свой спортклуб, и обладание значком ГТО для амбициозного студента было не менее важно, чем сессия, сданная на одни пятерки. Спорт даже стал модным. Как писали Ильф и Петров, Зося Синицкая имела тот спортивный вид, который в последние годы приобрели все симпатичные девушки.
              p Проводились чемпионаты студентов-медиков, студентов-инженеров и так далее. Появилось множество ДСО – добровольных спортивных обществ. ДСО Молния объединяло студентов-связистов, ДСО Учитель - будущих педагогов и так далее. Но до Великой Отечественной войны советские спортсмены, в том числе и студенты, не участвовали в крупнейших международных турнирах. Между тем, еще в 1905 году первые такие соревнования среди студентов состоялись в США, а с 1923 года стали регулярно проходить Всемирные университетские игры.
              p Война прервала эту традицию, а после ее окончания в 1948 году вышло известное постановление правительства Советского Союза, согласно которому перед советскими спортсменами, в том числе спортсменами-студентами, ставилась задача готовиться к участию в важнейших мировых соревнованиях с целью завоевания первенства по важнейшим видам спорта. И к тому моменту, когда Всемирные университетские игры были преобразованы в Универсиады, СССР готов был участвовать в них весьма серьезными составами.
