.article {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 0 !important;
  display: none;
  max-width: 87%;

  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: none;
  }

  &:before {
    position: absolute;
    top: 0;
    left: -21px;
    display: block;
    width: 22px;
    height: 100%;
    content: '';
    background: url(../img/wave.svg) repeat-y;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .container-fluid {

    @include media-breakpoint-down(md) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .row {

    @include media-breakpoint-down(md) {
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  &__wrapper {
    padding-top: 65px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 65px;
    overflow: auto;
    height: 100%;

    @include media-breakpoint-down(md) {
      padding-top: 20px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 20px;
      overflow: visible;
    }
  }

  &__header {
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding-left: 60px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }

  &__date {
    margin-right: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #aaa;
  }

  &__author {
    font-size: 14px;
    line-height: 1.5;
  }

  &__content {
  }

  &__img {
    margin-top: 45px;
    margin-bottom: 35px;
    max-width: 100%;
  }

  &.fancybox-content {
    padding: 0;
    overflow: visible;
    height: 100%;
    animation: articleIn .2s ease-in forwards;

    @include media-breakpoint-down(md) {
      overflow: auto;
    }
  }

  &.article--closing {
    animation: articleOut .2s ease-in forwards;
  }

  .fancybox-close-small {
    top: 70px;
    right: auto;
    left: 70px;
    width: 22.5px;
    height: 22.5px;
    background: url(../img/arrow-back.svg) no-repeat;
    background-size: contain;
    transform: rotate(180deg);

    @include media-breakpoint-down(md) {
      position: absolute;
    }

    svg {
      display: none;
    }

    @include transition;

    &:hover {
      opacity: .75;
    }

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 20px;
      left: 25px;
    }
  }

  @keyframes articleIn {

    from {
      opacity: 0;
      transform: translateX(15%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes articleOut {

    to {
      transform: translateX(15%);
    }
  }
}

.fancybox-slide {
  overflow: hidden;
}
