.socials {

  @include media-breakpoint-down(md) {
    display: none;
  }

  &__item {
    margin-bottom: 12px;
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;

    @include transition;

    &:hover {
      background-color: #f2f2f2;
    }

    &--vk {
      background: url(../img/vk.svg) no-repeat center;
    }

    &--fb {
      background: url(../img/fb.svg) no-repeat center;
    }

    &--ig {
      background: url(../img/ig.svg) no-repeat center;
    }

    &--tw {
      background: url(../img/tw.svg) no-repeat center;
    }
  }

  &--share {
    display: flex;

    .socials__item {
      margin-bottom: 0;
      width: 25px;
      height: 25px;
      border-radius: 0;

      & + .socials__item {
        margin-left: 5px;
      }
    }
  }
}
