mixin footer(data)
  .footer&attributes(attributes)
    .container-fluid
      .row
        .col-md-6.col-lg-3.offset-lgx-1.mb-40.mb-lg-0
          a.footer__logo(href="#")
            img.footer__logo-img(src="./img/footer-logo.svg", alt)
        .col-md-6.col-lg-3.mb-sm-40.mb-lg-0.d-flex.flex-column
          .footer__sitemap.order-2.order-lg-1
            a.footer__link(href="#") Город
            a.footer__link(href="#") Команда
            a.footer__link(href="#") Концепция
          +socials({
            array: ['fb', 'yt', 'vk', 'ig']
          }).footer__socials.order-1.order-lg-2
        .col-md-6.col-lg-3.mb-sm-40.mb-lg-0
          .footer__sitemap
            a.footer__link(href="#") Медиа
            a.footer__link(href="#") Вопросы
        .col-md-6.col-lg-5.col-lgx-3.mb-sm-40.mb-lg-0
          +subscribe({
            title: 'Подпишитесь на рассылку'
          }).footer__subscribe
