.footer {
  padding-top: 130px;
  padding-bottom: 75px;
  background: #2f2f2f;

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__logo {
    margin-bottom: 75px;
    display: block;
    max-width: 100%;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__logo-img {
    max-width: 100%;
  }

  &__copyright {
    font-size: 14px;
    line-height: 1.5;
    color: #bdbdbd;
  }

  &__sitemap {
    margin-bottom: 40px;
  }

  &__sitemap-header {
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    font-size: 20px;
    line-height: 1.7;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;

    @include transition;
  }

  &__socials {
    margin-top: 95px;
    display: flex;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-bottom: 40px;
    }

    .socials__item {
      border: 0;

      &--vk {
        background: url(../img/vk-gray.svg) no-repeat center;
      }

      &--fb {
        background: url(../img/fb-gray.svg) no-repeat center;
      }

      &--ig {
        background: url(../img/ig-gray.svg) no-repeat center;
      }

      &--tw {
        background: url(../img/tw-gray.svg) no-repeat center;
      }

      &--yt {
        background: url(../img/yt-gray.svg) no-repeat center;
      }

      & + .socials__item {
        margin-left: 15px;
      }
    }
  }

  &__subscribe {
    width: 100%;
    color: #fff;

    .input {
      padding-left: 0;

      height: 60px;
      color: #fff;
      border-bottom: 1px solid #838383;

      @include placeholder(#fff);
    }
  }
}
