.card {
  position: relative;
  padding: 40px 30px;
  display: flex;
  min-height: 409px;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  border-radius: 10px;

  @include media-breakpoint-down(lgx) {
    padding: 20px;
    min-height: 300px;
  }

  @include media-breakpoint-down(sm) {
    min-height: 400px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    content: '';
    background: rgba(0, 0, 0, .2);
    border-radius: 10px;

    @include transition;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.83%, #000000 100%);
    border-radius: 10px;

    @include media-breakpoint-down(lgx) {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #000000 100%);
    }
  }

  &:hover {
    color: $primary;

    &:before {
      opacity: 1;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__date {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.5;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &__title {

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }
}
