mixin card(data)
  a.card(href="#", style="background-image: url(./img/" + data.img + ");")&attributes(attributes)
    .card__content
      .card__date 17/04/2019
      p.card__title.mb-0.text-white= data.title
