extends ../templates/template.pug
block content
  .wrapper
    .wrapper__header
      +header
    .wrapper__aside
      +aside
    .section
      +front#section1
    .section
      +cards-list#section2
    .section
      +concept#section3
    .section
      +news-list#section4
    .section
      +instagram#section5
    //.section
      +timeline#section5
    //.section.mt-20.mt-md-40
      +reason#section6
    +article
  +footer
