.logo {
  margin-top: 42px;
  display: block;

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-left: 20px;
  }

  &__img {
    display: block;
    max-width: 100%;

    @include media-breakpoint-down(md) {
      max-height: 50px;
    }
  }
}
