mixin front(data)
  .front&attributes(attributes)
    .front__wrapper
      .front__item(style="background-image: url(./img/front-1.jpeg);", data-img="./img/front-1.jpeg")
        .front__item-wrapper
          .front__item-top
            //.front__year
            h1.front__header Екатеринбург 2023
            //img.front__motto(src="./img/motto.svg", alt)
            //h2.front__subheader.text-white 32-я летняя универсиада
            h1.front__header.text-uppercase Ready to wow
            h3.front__subsubheader.text-white 8 — 19 AUGUST 2023
            //.front__number
          .front__item-bottom
            a.btn.btn-primary(href="#") На пути к мечте
            a.front__scroll.js-anchor(href="#section2")
      +reason.front__item(data-img="./img/reason.jpg")
      .front__item(style="background-image: url(./img/front-1.jpeg);", data-img="./img/front-1.jpeg")
        .reason__content
          h1.text-white.mb-40.text-uppercase Вопросы и ответы
          a.btn.btn-primary(href="#") На пути к мечте
        
