.front {

  &__wrapper {
  }

  &__item {
    padding: 100px 204px 110px;
    display: flex !important;
    min-height: 100vh;
    background-position: top center;
    background-size: cover;

    @include media-breakpoint-down(lgx) {
      padding: 60px 150px;
    }

    @include media-breakpoint-down(lg) {
      //      padding: 60px;
    }

    @include media-breakpoint-down(md) {
      padding: 130px 15px 60px;
      min-height: 0;
      background-position: top 70px center;
    }

    @include media-breakpoint-down(sm) {
      min-height: 600px;
    }
  }

  &__item-wrapper {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      padding-bottom: 40px;
    }
  }

  &__item-top {
  }

  &__year {
    margin-bottom: 40px;
    width: 100%;
    max-width: 393px;
    height: 58px;
    background: url(../img/front-year.svg) no-repeat;
    background-size: contain;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  &__header {
    margin-bottom: 0;
    color: #fff;
  }

  //  &__motto {
  //    display: block;
  //    max-width: 600px;
  //
  //    @include media-breakpoint-down(lgx) {
  //      max-width: 400px;
  //    }
  //
  //    @include media-breakpoint-down(lg) {
  //      max-width: 300px;
  //    }
  //
  //    @include media-breakpoint-down(md) {
  //      margin-bottom: 100px;
  //    }
  //  }

  //  &__subheader {
  //    font-size: 70px;
  //    font-weight: 900;
  //    letter-spacing: .2em;
  //    text-transform: uppercase;
  //
  //    @include media-breakpoint-down(lgx) {
  //      font-size: 45px;
  //    }
  //
  //    @include media-breakpoint-down(lg) {
  //      font-size: 35px;
  //    }
  //
  //    @include media-breakpoint-down(sm) {
  //      font-size: 30px;
  //    }
  //  }

  &__subsubheader {
    margin-bottom: 0;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;

    @include media-breakpoint-down(lgx) {
      font-size: 25px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 80px;
    }
  }

  &__number {
    margin-bottom: 60px;
    width: 100%;
    max-width: 488px;
    height: 28px;
    background: url(../img/front-number.svg) no-repeat;
    background-size: contain;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  &__scroll {
    position: absolute;
    margin-top: 60px;
    display: block;
    width: 32px;
    height: 16px;
    background: url(../img/scroll.svg) no-repeat;
    background-size: contain;
    animation: arrow 1.7s infinite ease;

    @include media-breakpoint-down(md) {
      display: none;
    }

    @keyframes arrow {

      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-7px);
      }

      55% {
        transform: translateY(-7px);
      }

      100% {
        transform: translateY(0);
      }
    }
  }

  .slick-dots {
    position: absolute;
    right: 60px;
    bottom: 20px;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;

    @include media-breakpoint-down(lg) {
      right: 20px;
    }

    @include media-breakpoint-down(sm) {
      display: none !important;
    }

    li {
      width: 200px;
      list-style: none;
      box-shadow: 0 3px 10px rgba(0, 0, 0, .2);

      @include media-breakpoint-down(lg) {
        width: 150px;
      }

      @include media-breakpoint-down(md) {
        width: 100px;
      }

      & + li {
        margin-left: 20px;
      }

      div {
        padding-top: 66.67%;
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        cursor: pointer;

        @include transition;

        &:hover {
          opacity: .85;
        }
      }
    }
  }
}
