.news-list {
  padding: 40px 80px 0 50px;
  background: linear-gradient(121.46deg, #fbba18 0%, #fbba18 52.38%, #e41d2d 124.16%);

  @include media-breakpoint-down(lgx) {
    padding-bottom: 30px;
  }

  @include media-breakpoint-down(md) {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__wrapper {
    margin: 0 -25px;
    display: flex;
    flex-flow: row wrap;

    @include media-breakpoint-down(lgx) {
      margin: 0 -10px;
    }
  }
}
