mixin news-list(data)
  .news-list&attributes(attributes)
    .h1.text-white.text-uppercase.mb-30 Новости
    .news-list__wrapper
      +news({
        title: 'FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году'
      })
      +news({
        title: 'Министр спорта назвал сильной заявку Екатеринбурга на проведение Универсиады-2023'
      })
      +news({
        title: 'Владимир Путин поздравил Екатеринбург с получением права проведения Универсиады в 2023 году'
      })
      +news({
        title: 'FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году'
      })
      +news({
        title: 'Александр Жуков уверен, что Универсиада-2023 будет организована на самом высоком уровне'
      })
      +news({
        title: 'Бокс, регби-7 и самбо включены в программу Универсиады-2023'
      })
      +news({
        title: 'Губернатор Свердловской области Куйвашев уверен, что Универсиада в Екатеринбурге станет одной из самых ярких в истории'
      })
      +news({
        modifier: 'more',
        title: 'Еще новости'
      }).news--more
