.language {

  &__btn {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border: 1px solid #333;
    border-radius: 50%;

    @include transition;

    &:hover {
      color: #fff;
      background: #333;
    }
  }
}
