mixin object(data)
  a.object(href="#")&attributes(attributes)
    .object__picture(style="background-image: url(./img/object-1.png);")
      .object__year= data.year
      p.mb-0.object__title= data.title
