.object {
  position: relative;
  padding: 170px 0 105px;

  &:focus {
    outline: none;
  }

  &__year {
    position: absolute;
    z-index: 1;
    bottom: calc(100% + 15px);
    font-size: 20px;
    line-height: 1.25;
    font-weight: 900;
    text-align: center;
    color: #41a64d;
  }

  &__picture {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 26px;
    height: 26px;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    border-radius: 50%;

    @include transition;

    @include media-breakpoint-down(xs) {
      margin-top: -80px;
      width: 182px;
      height: 182px;
    }

    &:before {
      position: absolute;
      top: -1px;
      left: -1px;
      display: block;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      content: '';
      background: #fff;
      border: 1px solid #c7c7c7;
      border-radius: 50%;

      @include transition @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  &__title {
    position: absolute;
    top: calc(100% + 20px);
    margin: 0 auto;
    width: 220px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #333;

    @include media-breakpoint-down(lgx) {
      font-size: 16px;
    }
  }

  &:hover {

    .object__picture {
      margin-top: -80px;
      width: 182px;
      height: 182px;
      transition-delay: .8s;

      &:before {
        background: #41a64d;
        animation: fadeOut .3s forwards;
        animation-delay: .8s;
      }
    }
  }

  &--built {

    .object__picture {

      &:before {
        background: #41a64d;
      }
    }
  }

  .slick-arrow {
    position: absolute;
  }
}

@keyframes fadeOut {

  to {
    opacity: 0;
  }
}
