mixin aside(data)
  .aside&attributes(attributes)
    //+language
    .aside__countdown
      .aside__countdown-header 1100
      .aside__countdown-content Дней до начала
    .nav.aside__nav
      a.nav-link.aside__nav-link(href="#section1") 1
      a.nav-link.aside__nav-link(href="#section2") 2
      a.nav-link.aside__nav-link(href="#section3") 3
      a.nav-link.aside__nav-link(href="#section4") 4
      a.nav-link.aside__nav-link(href="#section5") 5
