.aside {
  position: sticky;
  top: 0;
  right: 0;
  padding: 35px 0;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;

  @include media-breakpoint-down(md) {
    padding-right: 10px;
    height: 70px;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  &:before {
    position: absolute;
    top: 0;
    left: -21px;
    display: block;
    width: 22px;
    height: 100%;
    content: '';
    background: url(../img/wave.svg) repeat-y;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__countdown {
    text-align: center;

    @include media-breakpoint-down(lgx) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__countdown-header {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 900;
    color: $danger;
  }

  &__countdown-content {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #4f4f4f;
  }

  &__nav {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(-50%);
    align-self: flex-end;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__nav-link {
    width: 31px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    color: #e0e0e0;
    border-bottom: 1px solid #e0e0e0;

    @include transition;

    & + & {
      margin-top: 24px;
    }

    &:hover,
    &.active {
      color: $secondary;
      border-color: $secondary;
    }

    &.active {
      width: 60px !important;
      font-size: 20px !important;
    }
  }
}
