mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#") Меню
    .menu__content
      .menu__container
        .menu__wrapper
          h2.menu__header Меню
          .menu__links-list
            a.menu__link(href="#") Город
            a.menu__link(href="#") Команда
            a.menu__link(href="#") Концепция
            a.menu__link(href="#") Медиа
            a.menu__link(href="#") Вопросы
          +subscribe
