.menu {
  display: flex;
  justify-content: center;

  &__btn {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    transition: .3s opacity ease-out;

    @media screen and (max-width: 1899px) {
      font-size: 14px;
    }

    @media screen and (max-width: 1499px) {
      font-size: 12px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 0;
    }

    &:before {
      display: block;
      width: 24px;
      height: 24px;
      content: '';
      background: url(../img/menu.svg) no-repeat center;
      background-size: contain;
      transition: .3s opacity ease-out;

      @media screen and (max-width: 1899px) {
        width: 20px;
        height: 20px;
      }

      @media screen and (max-width: 1499px) {
        width: 16px;
        height: 16px;
      }

      @include media-breakpoint-down(lg) {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      opacity: .7;
      color: #333;
    }
    //    position: relative;
    //    display: block;
    //    width: 21px;
    //    height: 16px;
    //    border-top: 1px solid #828282;
    //
    //    @include transition;
    //
    //    &:hover {
    //      opacity: .75;
    //    }
    //
    //    &:before,
    //    &:after {
    //      position: absolute;
    //      display: block;
    //      width: 21px;
    //      height: 1px;
    //      content: '';
    //      background: #828282;
    //
    //      @include transition;
    //    }
    //
    //    &:before {
    //      top: 8px;
    //    }
    //
    //    &:after {
    //      top: 16px;
    //    }
    //
    &--active {
      width: 24px;
      height: 48px;
      font-size: 0;
      background: url(../img/close.svg) no-repeat center;
      background-size: 80%;

      @media screen and (max-width: 1899px) {
        width: 21px;
        height: 41px;
      }

      @media screen and (max-width: 1499px) {
        width: 18px;
        height: 34px;
        font-size: 0;
      }

      @include media-breakpoint-down(lg) {
        top: 0;
        width: 20px;
        height: 20px;
      }

      &:before {
        display: none;
      }
      //      border-top: 0;
      //
      //      &:before {
      //        top: 7px;
      //        transform: rotate(45deg);
      //      }
      //
      //      &:after {
      //        top: 7px;
      //        transform: rotate(-45deg);
      //      }
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: 50vw;
    background: #f8f8f8;

    @include media-breakpoint-down(md) {
      top: 70px;
      left: 0;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      height: calc(100vh - 70px);
    }

    @include media-breakpoint-down(sm) {
      padding-top: 40px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 40px;
      overflow: auto;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 350px;
    flex-direction: column;
  }

  &__header {
    margin-bottom: 50px;
    color: $secondary;
  }

  &__links-list {
    margin-bottom: 100px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }
  }

  &__link {
    display: block;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 700;
    color: #000;

    @include transition;

    & + & {
      margin-top: 20px;
    }
  }
}
