.wrapper {
  position: relative;

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 6%;
    height: 100%;

    @include media-breakpoint-down(md) {
      position: fixed;
      z-index: 2;
      width: 100%;
      height: auto;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__aside {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 91px;
    height: 100%;

    @include media-breakpoint-down(lgx) {
      width: 80px;
    }

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      height: 70px;
    }
  }
}
