.header {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 40px 10px 30px;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;

  @media screen and (max-width: 1499px) {
    padding-right: 9px;
    padding-left: 9px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 15px;
    height: 70px;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    flex-flow: row nowrap;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-flow: row nowrap;
      align-items: center;
    }
  }
}
